<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ assembly name="System" #>
<#@ assembly name="System.IO" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="Common.tt" #>
<#@ output extension=".cs" #>

<#    string propertie = "MeetingArea"; #>
<# 
    string solutionPath = Host.ResolveAssemblyReference("$(SolutionDir)");
    string modelFile=@"C:\Users\yymcc\Documents\Source\HbMeeting\HbMeeting\HbMeeting.Template\bin\Debug\HbMeeting.Template.dll";
     //加载实体程序集
    byte[] fileData= File.ReadAllBytes(modelFile);
    Assembly assembly = Assembly.LoadFrom(modelFile);
    Type modelTypes = assembly.GetTypes().FirstOrDefault(c => c.Name == propertie);
    var property = modelTypes.GetProperties();

    string bindStr= "";
    foreach (PropertyInfo p in property)
    {
        bindStr += p.Name+",";
    }
#>


using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using System.Net;
using System.IO;
using Microsoft.AspNetCore.Authorization;
using AutoMapper;
using Microsoft.Extensions.Logging;
using Sieve.Models;
using HbMeeting.Models;
using Sieve.Services;
using Microsoft.EntityFrameworkCore;

namespace HbMeeting.Controllers.Manager
{

    [ApiController]
    [Route("manager/[controller]/[action]")]
    [Authorize(Roles = "Admin")]
    public class <#= propertie #>Controller : ManagerBaseController
    {
        private readonly ILogger<<#= propertie #>Controller> _logger;

        public <#= propertie #>Controller(ILogger<<#= propertie #>Controller> logger
            , HbMeetContext context
            , IMapper mapper
            , ISieveProcessor sieveProcessor) : base(context, mapper, sieveProcessor)
        {
            _logger = logger;
        }

        /// <summary>
        /// TODO
        /// </summary>
        /// <returns></returns>
        [HttpGet]
        public HbzsManagerResult<List<<#= propertie #>>> Get<#= propertie #>s([FromQuery]SieveModel sieveModel)
        {
            try
            {
                var list = _sieveProcessor.Apply(sieveModel, _context.<#= propertie #>s).ToList();

                return new HbzsManagerResult<List<<#= propertie #>>>(list);
            }
            catch (Exception ex)
            {
                _logger.LogError(ex.Message);
                return new HbzsManagerResult<List<<#= propertie #>>>(HbzsManagerResultCode.Invalid_Error, ex.Message);
            }
        }
        /// <summary>
        /// TODO
        /// </summary>
        /// <param name="<#= propertie.ToLower() #>"></param>
        /// <returns></returns>
        [HttpPost]
        public HbzsManagerResult<<#= propertie #>> Post<#= propertie #>([Bind("<#= bindStr #>")][FromBody]<#= propertie #> <#= propertie.ToLower() #>)
        {
            try
            {
                <#= propertie.ToLower() #> = <#= propertie.ToLower() #>.Id == 0 ? Add<#= propertie #>(<#= propertie.ToLower() #>) : Update<#= propertie #>(<#= propertie.ToLower() #>);

                return new HbzsManagerResult<<#= propertie #>>(<#= propertie.ToLower() #>);
            }
            catch (Exception ex)
            {
                _logger.LogError(ex.Message);
                return new HbzsManagerResult<<#= propertie #>>(HbzsManagerResultCode.Invalid_Error, ex.Message);
            }
        }

        /// <summary>
        /// TODO
        /// </summary>
        /// <param name="id"></param>
        /// <returns></returns>
        [HttpGet]
        public HbzsManagerResult<<#= propertie #>> Delete<#= propertie #>([FromQuery]int id)
        {
            try
            {
                var <#= propertie.ToLower() #> = _context.<#= propertie #>s.Find(id);
                if (<#= propertie.ToLower() #> != null)
                {
                    _context.<#= propertie #>s.Remove(<#= propertie.ToLower() #>);
                    _context.SaveChanges();
                }
                return new HbzsManagerResult<<#= propertie #>>(<#= propertie.ToLower() #>);
            }
            catch (Exception ex)
            {
                _logger.LogError(ex.Message);
                return new HbzsManagerResult<<#= propertie #>>(HbzsManagerResultCode.Invalid_Error, ex.Message);
            }
        }

        private <#= propertie #> Add<#= propertie #>(<#= propertie #> <#= propertie.ToLower() #>)
        {
            <#= propertie.ToLower() #>.AddTime = DateTime.Now;
            <#= propertie.ToLower() #>.AddUserId = Member.Id;
            <#= propertie.ToLower() #>.AddUserName = Member.Nick;

            _context.<#= propertie #>s.Add(<#= propertie.ToLower() #>);

            _context.SaveChanges();

            return <#= propertie.ToLower() #>;
        }

        private <#= propertie #> Update<#= propertie #>(<#= propertie #> <#= propertie.ToLower() #>)
        {
            //TODO防止恶意修改
            var <#= propertie.ToLower() #>db  = _context.MeetingAreas.First(m => m.Id == <#= propertie.ToLower() #>.Id);
            <#foreach (PropertyInfo p in property){ #>
                <#= propertie.ToLower() #>db.<#=p.Name #> = <#= propertie.ToLower() #>.<#=p.Name #>;
            <#}#>
            _context.Entry(<#= propertie.ToLower() #>db).State = EntityState.Modified;

            _context.SaveChanges();

            return <#= propertie.ToLower() #>;
        }
    }
}